@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
    }

:root{
    --BlueBody:#1e1d2b;
    --OrangeGeneral:#ff702a;
    --RositaFresita: #ffefe8;
}

body{
   background-color: #1e1d2b; 
   color: white;
}

.bg-dark {
    background-color: #1e1d2b !important;
  }

.navbar-collapse{
    padding: 5px;
    background-color:#1e1d2b;
}

.container-fluid{
    --bs-gutter-x: 0px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 18px;
}

.nav-link{
    padding: 0;
    color: white;
    text-align: center;
}

.navbar-nav{
    gap: 20px;
}

.nav-link:hover{
    border-bottom: 1px solid var(--OrangeGeneral);
}

.navbar-brand{
    margin-left: 5px;
    color: var(--OrangeGeneral);
}

.navbar-brand:hover{
    margin-left: 5px;
    color: var(--OrangeGeneral);
    cursor:default;
}

.navbar-toggler{
    border:1.5px solid (--OrangeGeneral);
    color: var(--OrangeGeneral);
}

.page-home{
    height: 100vh;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-title{
    font-size: 50px;
    color: var(--OrangeGeneral);
}

.home-info{
    margin-bottom: 20px;
    align-self: center;
}

.botones-dentro{
    height: 30px;
    width: 120px;
    border: none;
    background-color: var(--OrangeGeneral);
    color: white;
}

.botones-dentro:hover{
    background-color: white;
    color: var(--OrangeGeneral);
}

.about-us{
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
}

.about-title{
    color: var(--OrangeGeneral);
}

.about-sub-title{
    width: 250px;
    text-align: left;
}

.about-us-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
    text-align: left;
}

.about-info{
    width: 293px;
}

.food-menu{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.food-menu h3{
    font-size: 17px;
}

.food-info{
    border: 1px solid green;
    font-size: 35px;
    margin-bottom: 20px;
}

.fila-tarjetas{
    border: 1px solid yellow;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tarjeta{
    width: 350px;
    background-color: var(--RositaFresita);
    color: black;
    font-weight:500;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.info-tarjeta{
    display: flex;
    flex-direction: column;
}

.title-tarjeta{
    margin-bottom: 8px;
}

.tarjeta span:last-child{
    color: var(--OrangeGeneral);
}

.tarjeta:hover{
    
}






@media (max-width:1000px) {
    .page-home{
        height: 75vh;
    }

    .about-us{
        height: 50vh;

    }
}

@media (max-width:766px) {
    .navbar-collapse{
        background-color: #2c2b47; 
    }

    .container-fluid{
        margin-left: 0px;
        margin-right: 0px; 
    }

    .navbar-brand:hover{
        margin-left: 5px;
        color: #ff702a;
        cursor:default;
    }

    .navbar-brand{
        margin-left: 10px;
    }
    
    .navbar-toggler{
        margin-right: 10px;
    }

    .page-home{
        display: inline-block;
        height: 100vh;
    }

    .about-us-info{
        align-items:center;
        text-align: center;
    }

    .about-sub-title{
        text-align: center;
    }

    .about-us{
        height: 110vh;
        display: flex;
        align-items: center;
        border: 1px solid;
        margin-bottom: 15px;
    }
}